<div class="row mb-2">
  <div class="card text-white bg-warning col-lg-2 col-sm-12">
    <div class="card-body p-3">
      <div class="text-value">
        $ {{ valueCashInit | currency: "":"":".2-2":"it" }}
      </div>
      <div>Saldo inicial</div>
    </div>
  </div>
  <div class="card text-white bg-warning col-lg-2 col-sm-12 ml-lg-2">
    <div class="card-body p-3">
      <div class="text-value">
        $ {{ valueCash | currency: "":"":".2-2":"it" }}
      </div>
      <div>Saldo actual</div>
    </div>
  </div>
</div>

<div class="card card-accent-primary">
  <div class="card-header">Conteo de billetes</div>
  <div class="card-body">
    <form #cashForm="ngForm" (submit)="close(cashForm)">
      <fieldset class="form-group">
        <div class="input-group col-md-11">
          <label class="col-md-3 col-form-label" for="total"
            >Billetes de 10</label
          >
          <span class="input-group-prepend"
            ><span class="input-group-text"
              ><i class="fa fa-usd"></i></span></span
          ><input
            type="number"
            class="form-control"
            id="cant10"
            name="b10"
            [(ngModel)]="cash.b10"
            min="0"
          />
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="input-group col-md-11">
          <label class="col-md-3 col-form-label" for="total"
            >Billetes de 20</label
          >
          <span class="input-group-prepend"
            ><span class="input-group-text"
              ><i class="fa fa-usd"></i></span></span
          ><input
            type="number"
            class="form-control"
            id="cant20"
            name="b20"
            [(ngModel)]="cash.b20"
            min="0"
          />
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="input-group col-md-11">
          <label class="col-md-3 col-form-label" for="total"
            >Billetes de 50</label
          >
          <span class="input-group-prepend"
            ><span class="input-group-text"
              ><i class="fa fa-usd"></i></span></span
          ><input
            type="number"
            class="form-control"
            id="cant50"
            name="b50"
            min="0"
            [(ngModel)]="cash.b50"
          />
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="input-group col-md-11">
          <label class="col-md-3 col-form-label" for="total"
            >Billetes de 100</label
          >
          <span class="input-group-prepend"
            ><span class="input-group-text"
              ><i class="fa fa-usd"></i></span></span
          ><input
            type="number"
            class="form-control"
            id="cant100"
            name="b100"
            min="0"
            [(ngModel)]="cash.b100"
          />
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="input-group col-md-11">
          <label class="col-md-3 col-form-label" for="total"
            >Billetes de 200</label
          >
          <span class="input-group-prepend"
            ><span class="input-group-text"
              ><i class="fa fa-usd"></i></span></span
          ><input
            type="number"
            class="form-control"
            id="cant200"
            name="b200"
            min="0"
            [(ngModel)]="cash.b200"
          />
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="input-group col-md-11">
          <label class="col-md-3 col-form-label" for="total"
            >Billetes de 500</label
          >
          <span class="input-group-prepend"
            ><span class="input-group-text"
              ><i class="fa fa-usd"></i></span></span
          ><input
            type="number"
            class="form-control"
            id="cant500"
            name="b500"
            min="0"
            [(ngModel)]="cash.b500"
          />
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="input-group col-md-11">
          <label class="col-md-3 col-form-label" for="total"
            >Billetes de 1000</label
          >
          <span class="input-group-prepend"
            ><span class="input-group-text"
              ><i class="fa fa-usd"></i></span></span
          ><input
            type="number"
            class="form-control"
            id="cant1000"
            name="b1000"
            min="0"
            [(ngModel)]="cash.b1000"
          />
        </div>
      </fieldset>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="calcular()">
          Calcular
        </button>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="this.cargandoCloseCash === true"
        >
          Cierre de caja
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
            min="0"
            *ngIf="this.cargandoCloseCash"
          ></span>
        </button>
      </div>
    </form>
  </div>
</div>

<!----------------UPDATE VALUE MODAL---------------->

<div
  bsModal
  #updateModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Actualizar Caja</h4>
        <button
          type="button"
          class="close"
          (click)="updateModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        (submit)="updateCashValue(createForm)"
        #createForm="ngForm"
        id="createForm"
      >
        <div class="modal-body">
          <div>
            <fieldset class="form-group">
              <div class="input-group col-md-11">
                <label class="col-md-3 col-form-label" for="total"
                  >Nuevo Monto</label
                >
                <span class="input-group-prepend"
                  ><span class="input-group-text"
                    ><i class="fa fa-usd"></i></span></span
                ><input
                  type="number"
                  class="form-control"
                  id="total"
                  name="total"
                  [(ngModel)]="value"
                  min="0"
                  placeholder="Monto"
                />
              </div>
            </fieldset>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            (click)="updateModal.hide()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-success" [disabled]="this.cargandoUpdateCash === true">
            Actualizar caja
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
              *ngIf="this.cargandoUpdateCash"
            ></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--------------------------------------Error Modal-------------------------------------------------------->
<div
  bsModal
  #errorModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="d-flex justify-content-center m-5 font-weight-bold lead">
        {{ message }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="errorModal.hide()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!--------------------------------------CONTAR MODAL-------------------------------------------------------->
<div
  bsModal
  #countModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cantidad Ingresada</h4>
      </div>
      <div class="d-flex justify-content-center m-5 font-weight-bold lead">
        {{ cantidad }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="countModal.hide()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
