<div class="container-fluid">
  <div class="col-sm-12 col-lg-3 d-flex align-items-start">
    <div class="m-auto">
      <button
      style="height: 43px;"
        type="button"
        class="btn btn-block btn-success active"
        (click)="newClientModal.show()"
      >
        Agregar Cliente
      </button>
    </div>
    <div >
      <div class="m-auto">
        <button
          (click)="downloadPdf()"
          type="button"
          class="btn btn-lg btn-primary"
        >
          <i class="fas fa-file-pdf"></i> Descargar lista clientes
        </button>
      </div>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-header">Clientes</div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8 float-left">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input
              class="form-control ng-untouched ng-pristine ng-valid"
              placeholder="Buscar por nombre"
              type="text"
            />
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-responsive-lg">
        <thead>
          <tr>
            <th style="width: 20%" class="text-center">Nombre</th>
            <th style="width: 40%" class="text-center">Direccion</th>
            <th style="width: 20%" class="text-center">Saldo</th>
            <th style="width: 20%" class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <!---->
          <tr *ngFor="let client of clients">
            <td class="text-center">{{ client.name }}</td>
            <td class="text-center">{{ client.address }}</td>
            <td class="text-center">${{ client.balance }}</td>
            <td class="text-center">
              <i
                class="fas fa-pen"
                style="cursor: pointer"
                (click)="getOneClient(client)"
              ></i>
              <i
                class="fas fa-trash-alt"
                style="cursor: pointer"
                (click)="deleteClient(client)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- -----------NEW CLIENT MODAL----------- -->

<div
  bsModal
  #newClientModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nuevo Cliente</h4>
        <button
          type="button"
          class="close"
          (click)="newClientModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        (submit)="createClient(createForm)"
        #createForm="ngForm"
        id="createForm"
      >
        <div class="modal-body">
          <div>
            <div class="row">
              <div class="col-md">
                <div class="form-group">
                  <label for="name">Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    [(ngModel)]="client.name"
                    placeholder="Juan Carlos Gimenez"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="form-group">
                  <label for="address">Direccion</label>
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    name="address"
                    [(ngModel)]="client.address"
                    placeholder="Calle Del Valle 1820"
                    required
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            (click)="newClientModal.hide()"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!createForm.valid"
          >
            Crear cliente
          </button>
        </div>
      </form>
    </div>
  </div>
  >
</div>

<!-- -----------EDIT CLIENT MODAL----------- -->
<div
  bsModal
  #editClientModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Cliente</h4>
        <button
          type="button"
          class="close"
          (click)="editClientModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="editClient(editForm)" #editForm="ngForm" id="editForm">
        <div class="modal-body">
          <div>
            <div class="row">
              <div class="col-md">
                <div class="form-group">
                  <label for="editName">Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    id="editName"
                    name="name"
                    [(ngModel)]="clientToEdit.name"
                    placeholder="Juan Carlos Gimenez"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="form-group">
                  <label for="editAddress">Direccion</label>
                  <input
                    type="text"
                    class="form-control"
                    id="editAddress"
                    name="address"
                    [(ngModel)]="clientToEdit.address"
                    placeholder="Calle Del Valle 1820"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="form-group">
                  <label for="editBalance">Saldo</label>
                  <input
                    type="number"
                    class="form-control"
                    id="editBalance"
                    name="balance"
                    [(ngModel)]="clientToEdit.balance"
                    required
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            (click)="editClientModal.hide()"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!editForm.valid"
          >
            Actualizar cliente
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
